<div class="control-group">
  
  <label class="control-label"> {{i18n
  "admin.groups.manage.membership.ldap_synchronisation"}} </label>

  <label> {{i18n
  "admin.groups.manage.membership.ldap_synchronisation_group_dn"}} </label>

  {{input value=model.custom_fields.ldap_dn class="group-form"
  onChange=(action "onChangeLDAPdn")}}

</div>
    

        






